<div class="navigation" role="banner">
  <h1 class = "navSubtitle">Simplicity to Represent Something Greater</h1>
</div>

<div class ="spacer"></div>
<div class ="big"></div>


<div class = "landscape">
  <h1 class = "subtitle">Welcome to my Website!</h1>
</div>

<div class="row">
  <div class="column" style = background-color:#444444; >
    <div class ="self">
    </div>
  </div>
  <div class ="column" style = background-color:#444444;>
    <h1 class = "about_me">ABOUT ME</h1>
    <p class ="bio">My name is Ken Liang and I am an Undergraduate Student at The University 
      of British Columbia. I grew up and underwent the education system in Vancouver. My passion is
      to enter the field of Computer Engineering. Some topics that I hope to study later in my degree 
      is Neural Networks. Some hobbies of mine are swimming, hiking, and photography. Below is a 
      showcase of hikes and photos I've taken on such hikes. This is an introductory website, 
      displaying my beginner programming abilities in HTML and CSS. 
    </p>
  </div>
</div>

<div>
  <h3> Qualifications, Employment, and Traits</h3>
</div>

<mat-expansion-panel>
  <mat-expansion-panel-header>
     <mat-panel-title>
        Qualification
     </mat-panel-title>
     <mat-panel-description style = "place-content: center;">
        Standard First Aid
     </mat-panel-description>
  </mat-expansion-panel-header>
     Date: 2017
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
     <mat-panel-title>
        Qualification
     </mat-panel-title>
     <mat-panel-description style = "place-content: center;">
        Emergency First Aid
     </mat-panel-description>
  </mat-expansion-panel-header>
     Date: 2017
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
     <mat-panel-title>
        Employment
     </mat-panel-title>
     <mat-panel-description style = "place-content: center;">
        Vancouver Election Registration Official
     </mat-panel-description>
  </mat-expansion-panel-header>
     Date: October 13, 2018 & October 20, 2018
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
     <mat-panel-title>
        Trait
     </mat-panel-title>
     <mat-panel-description style = "place-content: center;">
        Multilingual
     </mat-panel-description>
  </mat-expansion-panel-header>
     Languages: English (Proficient), Cantonese (Intermediate), Mandarin (Intermediate), 
     and French (Beginner)
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
     <mat-panel-title>
        Trait
     </mat-panel-title>
     <mat-panel-description style = "place-content: center;">
        Computer Programming
     </mat-panel-description>
  </mat-expansion-panel-header>
     Languages: C (Intermediate), Python (Beginner), Java (Beginner), 
     and HTML (Beginner)
</mat-expansion-panel>

<div>
  <h4> Find Me On:</h4>
</div>

<section>
  <div class="button-row">
    <div class="button-container">
    <a mat-raised-button href="https://www.linkedin.com/in/ken-liang-a1250b1aa" color="primary" class ="link" target ="__blank"> LinkedIn </a>
    <a mat-raised-button disabled  class ="link" target ="__blank"> Email </a> <!---Removed due to sensitive information-->
    <a mat-raised-button href="https://www.linkedin.com/in/ken-liang-a1250b1aa" color="warn" class ="link" target ="__blank"> GitHub </a>
  </div>
  </div>
</section>

<router-outlet></router-outlet>